{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% set layoutTitle %}
  {% include '@Modules/extmodulename/views/templates/admin/header.html.twig' %}
{% endset %}

{% block content %}
  <p>{{ message }}</p>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}

  <link href="{{ asset('/modules/extmodulename/views/css/back.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('/modules/extmodulename/views/js/back.js') }}"></script>

  {# Rerender complex header #}
  <script>
    let headerText = $('h1.title').text();
    $('h1.title').replaceWith(headerText);
  </script>
{% endblock %}
